body {
	font-family: "Raleway", sans-serif;
}

#logo {
	margin-top: 25px;
	max-width: 25%;
}

h1 {
	font-size: 3.5em;
}

h1, 
h3 {
    text-align: right;
} 

hr {
    background-color: #7d97ad;
    color: #7d97ad;
    border: solid 2px #7d97ad;
    height: 2px;
}

#body-img {
	max-width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#featured {
	color: #7d97ad;
}

.work-img {
	max-width: 100%;
}
